In [1]:
import pandas as pd

In [2]:
data = {'name':['ming','gang','hang'],
        'age':[3,6,9],
        'city':['Beijing','shanghai','Guangzhou']}
df1 = pd.DataFrame(data)

In [3]:
df1.head()

   name  age       city
0  ming    3    Beijing
1  gang    6   shanghai
2  hang    9  Guangzhou

In [12]:
data2 = {
    'name':['gang','hang'],
    'address':['adf', 'sdf'],
    'mail':['adf','gasdf']
}
df2 = pd.DataFrame(data2)

In [17]:
df3 = pd.merge(left=df1, right=df2, how='right',on = 'name')[['name','address','age']]
df3

   name address  age
0  gang     adf    6
1  hang     sdf    9

In [18]:
array = [3,4,5,6]
print(sum(array,100))

118

In [19]:
sum(array)

18

In [20]:
sum([2,6,4])

12

In [21]:
float('1.8')

1.8

In [23]:
print(float('1.89')+3)

4.89

In [25]:
range(len('asad'))

range(0, 4)

In [36]:
from typing import List
nums = [2,4,5,3,1,0]
print([nums[i] for i in nums])
'''
def buildArray(self, nums: List[int]) -> List[int]:
    return []
'''

[5, 1, 0, 3, 4, 2]

'\ndef buildArray(self, nums: List[int]) -> List[int]:\n    return []\n'

In [37]:
nums = [1,2,1]
nums +=nums

In [38]:
nums

[1, 2, 1, 1, 2, 1]